#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

USERHOME=/usr/share/pre-installed
USERID=29999
USERGID=29999


config.status: configure
	dh_testdir

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	install -d -o $(USERID) -g $(USERGID) -m755 $(CURDIR)/debian/tmp/$(USERHOME)/
	install -d -o $(USERID) -g $(USERGID) -m755 $(CURDIR)/debian/tmp/$(USERHOME)/mafw-iradio-source-bookmarks
	install data/* -o $(USERID) -g $(USERGID) -m644 $(CURDIR)/debian/tmp/$(USERHOME)/mafw-iradio-source-bookmarks/


# Build architecture-independent files here.
binary-indep: build install
	dh_installchangelogs
	dh_link
	dh_compress
	dh_fixperms
	dh_install --sourcedir=debian/tmp
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
