#!/usr/bin/make -f

#export DH_VERBOSE=1

CFG_OPTS := --disable-dependency-tracking --prefix=/usr --enable-static
CFG_OPTS += $(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),--disable-tests,--enable-tests)
CFG_OPTS += $(if $(filter nodoc,$(DEB_BUILD_OPTIONS)),--disable-gtk-doc,--enable-gtk-doc)
CFG_OPTS += $(if $(filter lcov,$(DEB_BUILD_OPTIONS)),--enable-coverage)
%:
	dh $@ --with autoreconf

 override_dh_autoreconf:
	dh_autoreconf "NOCONFIGURE=1 ./autogen.sh"

override_dh_auto_configure:
	dh_auto_configure -- $(CFG_OPTS)

override_dh_makeshlibs:
	dh_makeshlibs -plibmafw0 -a -V"libmafw0 (>= 0.3.0)"

